name: Generate Snake Animation

on:
  schedule:
    # Runs every day at midnight UTC
    - cron: '0 0 * * *'
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  generate:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      
      - name: Generate GitHub Contribution Grid Snake
        uses: Platane/snk@master
        id: snake-gif
        with:
          github_user_name: iamksr05
          outputs: |
            dist/github-contribution-grid-snake.svg?color=random-dark
      
      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./dist
          destination_dir: output
          cname: false
